<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

      <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <title></title>
  </head>
  <body>




<h1>Style List</h1>
<%= link_to 'Create New Style', new_style_path(@style) %>

<% Style.all.order(:style_number).in_groups_of(3, false).each do |group| %>

<div class="row">
  <% group.each do |s|%>
    <div class="col-md-2">
      <div class="thumbnail center">
        <%= image_tag s.avatar.url(:thumb) %>
      </div>
    </div>
      <div class="col-md-2">
        <div class="row">
          <!-- <div class="col-md-1"> -->
            <p class="left">
              <%= s.style_number %>
            </p>
          <!-- </div> -->
          <!-- <div class="col-md-1"> -->
            <p class="right">
              <%= s.name %>
            </p>
          <!-- </div> -->
        </div>
        <div class="row">
          <p>
            <%= s.reference %>
          </p>
        </div>
        <div class="row">
          <p>
            <%= s.cost %>
          </p>
        </div>
        <div class="row">
            <p>
              <%= s.msrp %>
            </p>
        </div>
      </div>

<% end %>
</div>
<% end %>


<!-- list model -->


<table class="table table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>Style Number</th>
      <th>Name</th>
      <th>Style Reference</th>
      <th>Cost</th>
      <th>MSRP</th>
    </tr>
  </thead>

  <tbody>
    <% @styles = Style.reorder(:style_number)%>
    <!-- iterate through all the styles! -->
    <% @styles.each do |s|%>
      <tr>
        <td><%= image_tag s.avatar.url(:thumb) %></td>
        <td><%= s.style_number %></td>
        <td><%= s.name %></td>
        <td><%= s.reference %></td>
        <td><%= s.cost %></td>
        <td><%= s.msrp %></td>
        <td><%= link_to 'Style', style_path(s)%></td>
        <td><%= link_to 'Edit', edit_style_path(s)%></td>
        <td><%= link_to 'Delete', style_path(s), {method:"DELETE"}%><!-- add a link to delete this vampire --></td>
      </tr>
    <!-- end the iterator here -->
      <% end %>
  </tbody>
</table>
</div>
</div>




<!-- grid model  -->

<h1>Style List</h1>
<%= link_to 'Create New Style', new_style_path(@style) %>

<% Style.all.order(:style_number).in_groups_of(3, false).each do |group| %>

<div class="row grid">
  <% group.each do |s|%>
    <div class="col-md-2 grid" >
      <div class="thumbnail center">
        <%= image_tag s.avatar.url(:thumb) %>
      </div>
    </div>
      <div class="col-md-2 grid">
        <div class="row grid">
          <!-- <div class="col-md-1"> -->
            <p class="left grid">
              <%= s.style_number %>
            </p>
          <!-- </div> -->
          <!-- <div class="col-md-1"> -->
            <p class="right grid">
              <%= s.name %>
            </p>
          <!-- </div> -->
        </div>
        <div class="row grid">
          <p>
            Reference:
            <%= s.reference %>
          </p>
        </div>
        <div class="row grid">
          <p>
            Cost:
            <%= s.cost %>
          </p>
        </div>
        <div class="row grid">
            <p>
              MSRP:
              <%= s.msrp %>
            </p>
        </div>
      </div>

<% end %>
</div>
<% end %>
