<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

      <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <title></title>
  </head>


  <!-- style for show style with varients -->
  <body>
    <div class="container">
      <h1>Style List</h1>
      <div class="row">
        <div class="col-md-4 col-sm-2">
        <div class="grid">
        <div class="row">
          <div class="col-md-4 picture">  <%= image_tag @style.avatar.url(:medium) %></div>
          <div class="col-md-4"><%= @style.style_number %></div>
          <div class="col-md-4"><%= @style.name %></div>
          <div class="col-md-4">Reference: </div>
          <div class="col-md-4"><%= @style.reference %></div>
          <div class="col-md-4">Cost:</div>
          <div class="col-md-4">$<%= @style.cost%></div>
          <div class="col-md-4">MSRP:</div>
          <div class="col-md-4">$<%= @style.msrp%></div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-2 links">
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>




    <% @style.varients.all.order(:color).in_groups_of(3, false).each do |group| %>

    <div class="row">
      <% group.each do |v|%>
      <div class="col-md-4 col-sm-2">
      <div class="grid">
      <div class="row">
        <div class="col-md-4 picture"><%if v.picture_file_name %><%= image_tag v.picture.url(:medium) %><% end %></div>
        <div class="col-md-4 left">Color</div>
        <div class="col-md-4 right">Material</div>
        <div class="col-md-4 left"><%= v.color %></div>
        <div class="col-md-4 right"><%= v.material%></div>
        <div class="col-md-4 left"><%= link_to 'Edit', edit_style_varient_path(@style, v)%> </div>
        <div class="col-md-4 right"><%= link_to 'Delete', style_varient_path(@style, v), {method:"DELETE"}%></div>
      </div>
      </div>
      </div>
      <% end %>
    </div>
  <% end %>



  <table class="center-table">
    <thread>
      <tr>
        <th></th>
        <th>Color</th>
        <th>Material</th>
        <th colspan="3"></th>
      </tr>
    </thread>
    <tbody>
      <!-- <% @varients = Varient.reorder(:color) %> -->
      <% @style.varients.each do |v| %>
      <tr>
        <td><%if v.picture_file_name %><%= image_tag v.picture.url(:medium) %><% end %></td>
        <td><%= v.color %></td>
        <td><%= v.material%></td>
        <td><%= link_to 'Edit', edit_style_varient_path(@style, v)%> </td>
        <td><%= link_to 'Delete', style_varient_path(@style, v), {method:"DELETE"}%></td>
      </tr>
      <% end %>
  </table>







<!--  -->


  <p id="notice"><%= notice %></p>

  <div class="container">



    <h1>Style List</h1>
    <%= link_to 'Create New Style', new_style_path(@style) %>

    <% Style.all.order(:style_number).in_groups_of(3, false).each do |group| %>

    <div class="row">
      <% group.each do |s|%>
      <div class="col-sm-4">
      <div class="grid">
      <div class="row">
        <div class="col-xs-4 picture"><%= image_tag s.avatar.url(:thumb) %></div>
        <div class="col-xs-4 left"><%= s.style_number %></div>
        <div class="col-xs-4 right"><%= s.name %></div>
        <div class="col-xs-4 left">Reference: </div>
        <div class="col-xs-4 right"><%= s.reference %></div>
        <div class="col-xs-4 left">Cost:</div>
        <div class="col-xs-4 right">$<%= s.cost %></div>
        <div class="col-xs-4 left">MSRP:</div>
        <div class="col-xs-4 right">$<%= s.msrp %></div>
      </div>
      <div class="row">
        <div class="col-xs-4 links">
          <%= link_to 'Style', style_path(s)%> | <%= link_to 'Edit', edit_style_path(s)%> | <%= link_to 'Delete', style_path(s), {method:"DELETE"}%></div>
      </div>
      </div>
      </div>
      <% end %>
    </div>
  <% end %>
  </div>
