
<div class="container">
  <div class="jumbotron">

    <h1>Welcome to</h1>
    <img src="http://www.titanindustriesinc.com/themes/titan/images/logo.png">
    <b></b><br>
<hr size=16>
    <p><a class="btn btn-primary btn-lg" href="/sessions/new" role="button">Login</a></p>
  </div>
</div>
